
<% @comments.each do |comment| %>
	<p> <%= comment.user + ' said:' %><br />
	 <%= strip_tags(comment.content)%></p>
<% end %>

<% if admPermission %>
	<%= link_to 'Edit', edit_product_path(@product) %> 
	<%= link_to 'Back', products_path %>
<% end %>
