<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
<div class="welcomeBox">
	<h1>Welcome to the Foobar Online Store Management Area!</h1>
</div>
<div class="admin">
	<div id="menuBox">
		<ul id="menu">
			<li class="menuItem">
				<a href="/products">Manage Products</a>
			</li>
			<li class = "menuItem">
				<a href="/categories">Manage Categories</a>
			</li>
		</ul>
	</div>
</div>
