<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>
	<div class="welcomeBox">
		<h1>Foobar Online Store Management Area</h1>
	</div>
	<div class="admin">
		<div id="menuBox">
			<ul id="menu">
				<li class="menuItem">
					<a href="/products">Manage Products</a>
				</li>
				<li class = "menuItem">
					<a href="/categories">Manage Categories</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contentBox">
		<p>Welcome to the Foobar Store backoffice.
			From here you can manage all the contents in the website. 
			
			<h3>Instructions:</h3>
			<ul>
				<li>Go to Manage Products to Add/Remove/Alter a product. You can add new products, alter existing ones or remove obsolete ones</li>
				<li>Go to Manage Categories to Add/Remove/Alter a category</li>
			</ul>
			
			</p>
	</div>