<% if notice %>
	<p id="notice"><%= notice %></p>
<% end %>

<% content_for :admin do%>
<ul id="menu">
	<li class="menuItem">
		<a href="/products">Manage Products</a>
	</li>
	<li class = "menuItem">
		<a href="/categories">Manage Categories</a>
	</li>
	<li>
		<a href="/logout">Log out</a>
	</li>
</ul>
<% end %>
	
<p>Welcome to the Foobar Store backoffice.
	From here you can manage all the contents in the website. 
	
	<h3>Instructions:</h3>
	<ul>
		<li>Go to Manage Products to Add/Remove/Alter a product. You can add new products, alter existing ones or remove obsolete ones</li>
		<li>Go to Manage Categories to Add/Remove/Alter a category</li>
	</ul>
	
</p>