/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#content
{
	background-color: #CCCCCC;
	margin: 0em 12em 0em 12em;
	padding: 0px 0px 0px 0px;
	width: 61em;
}

#loginContainer{
	width: 200px;
	border-left: 1px solid #ff6600;
	padding-top: 0.5em;
	padding-left: 0.5em;
	margin-right: 2em;
	float: right;
}

#header #loginContainer .userName{
	border-radius: 1em 1em 1em 1em;
	font-family: "Myriad Pro", "Trebuchet MS", Arial, sans-serif;
	color:gray;
	padding-left: 5px;
	margin-bottom: 3px;
}

#header #loginContainer form, #header #loginContainer form div{
	display: inline;
}

#header #loginContainer #password{
	border-radius: 1em 1em 1em 1em;
	font-family: "Myriad Pro", "Trebuchet MS", Arial, sans-serif;
	color: gray;
	padding-left: 5px;
	margin-bottom: 3px;
}

#header #loginContainer .log_out{
	font-family: "Myriad Pro", "Trebuchet MS", Arial, sans-serif;
	font-size:10pt;
	color:#ff6600;
}


#header #loginContainer .log_out:hover{
	color: #ff6600;
}

.log_msg{
	font-family: "Myriad Pro", "Trebuchet MS", Arial, sans-serif;
	font-size: 11pt;
	color: #ffffff;
}

.mainApp
{
	border-radius: 1em 1em 1em 1em;
	background-color: #FFFFFF;
	border: 1px solid #ff6600;
	font-family: "Myriad Pro";
	width: 68%;
	height: 100%;
	float: right;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 0.25em;
	margin-bottom: 0.5em;
}