// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list_image{
  width:  150px;
  height: 150px;
}

.list_description dl dt{
  font-weight: bold;
  font-size: 14pt;
  width: 500px;
}

.list_description dl dd{
  font-size: 12pt;
  width: 500px;
}

.list_line_odd{
  background-color: rgb(150,150,150);
}

.list_line_even{
  background-color: rgb(200,200,200);
}

.related_thumb{
  width: 100px;
  heigth: 100px;
}

.related {
  float: left;
}
.scroll{
  max-height:150px;
  overflow-y: scroll;
}
