	<div id="highlightsContainer">
			<p>Highlights</p> 
			<div class="prev">
			</div>
			<div class="next">
			</div>
			<div class="scrollable">
				<div class="items">
				</div>
			</div>
		</div>
		